{{ define "content" }}
  <div class="layout-with-aside">
    <div>
      <section class="card" aria-labelledby="welcome-heading">
        <header>
          <h2 id="welcome-heading">Welcome to My Digital Book Library</h2>
          <p class="muted">Here you can find a collection of books I'm reading now — and those I can't wait to start.</p>
        </header>

        {{ if .HasUpcomingBooks}}
          <div class="books-grid">
            {{ range $status, $books := .UpcomingBooks }}
              {{ $statusDisplayed := false }}
              {{ range $books }}
                <div class="book-group">
                  {{ if not $statusDisplayed }}
                    <div class="status-label">{{ title $status }}</div>
                    {{ $statusDisplayed = true }}
                  {{ end }}
                  {{ template "book" . }}
                </div>
              {{ end }}
            {{ end }}
          </div>
        {{ else }}
          <p class="empty-set">
            Oh, quite empty here.<br>
            Feel free to suggest me some good books :)
          </p>
        {{ end }}
      </section>

      {{ if .HasLatestReviewedBook }}
        {{ with .LatestReviewedBook }}
          <section class="card" aria-labelledby="latest-reviews-heading">
            <header>
              <h2 id="latest-reviews-heading">Latest Review</h2>
              <p class="muted">
                I just turned the last page of 
                {{ $link := .Id | printf "%s.html" }}
                <a href="{{ $link }}" class="book-highlight">
                  {{ .Title }}
                </a>
                 — Here's my take on it.
              </p>
            </header>

            <div class="book-review">
              {{ if .Rating }}<span class="rating">{{ template "rating" }} {{printf "%.1f" .Rating }}</span>{{ end }}
              {{ range .Review }}
                <p class="review">{{ safeHTML . }}</p>
              {{ end }}
            </div>
          </section>
        {{ end }}
      {{ end }}

      {{ if .HasFavoriteQuote }}
        {{ with .FavoriteQuote }}
          <section class="card" aria-labelledby="favorite-quote-heading">
            <header>
              <h2 id="favorite-quote-heading">Favorite Quote</h2>
              <p class="muted">
                One line that's been on my mind lately from the book
                {{ $link := .Id | printf "%s.html" }}
                <a href="{{ $link }}" class="book-highlight">
                  {{ .BookTitle }}
                </a>
              </p>
            </header>
          
            <div class="favorite-quote">
              {{ template "quote" . }}
            </div>

            <footer>
              <a href="quotes.html" class="muted">More quotes</a>
            </footer>
          </section>
        {{ end }}
      {{ end }}
    </div>

    <aside class="card" aria-labelledby="sidebar-heading">
      <header>
        <h2 id="sidebar-heading">Stats</h2>
        <p class="muted">A snapshot of my bookshelf by the numbers.</p>
      </header>
      <div class="meta-list">
        <div class="meta-item">
          <h3 class="key">Total books</h3>
          <div><span class="value">{{ .Stats.TotalBooks }}</span></div>
        </div>
        <div class="meta-item">
          <h3 class="key">Books finished</h3>
          <div>
            <span class="value">{{ .Stats.BooksFinished }}</span>
            (<span class="value">{{ .Stats.BooksFinishedThisYear }}</span>)
          </div>
        </div>
        <div class="meta-item">
          <h3 class="key">Pages read</h3>
          <div>
            <span class="value">{{ .Stats.PagesRead }}</span>
            (<span class="value">{{ .Stats.PagesReadThisYear }}</span>)
          </div>
        </div>
        <div class="meta-item">
          <h3 class="key">Average pages per book</h3>
          <div><span class="value">{{ printf "%.0f" .Stats.AveragePages }}</span></div>
        </div>
        <div class="meta-item">
          <h3 class="key">Average rating</h3>
          <div><span class="value">{{printf "%.2f" .Stats.AverageRating}}</span></div>
        </div>
        <div class="meta-item-list">
          <h3 class="category">Top 3 genres</h3>
          {{range .Stats.TopGenres}}
            <div class="entry">
              <span class="key">{{ .Value }}</span>
              <span class="value">{{ .Count }}</span>
            </div>
          {{ end }}
        </div>
        <div class="meta-item-list">
          <h3 class="category">Books by language</h3>
          {{range .Stats.BooksByLanguage }}
            <div class="entry">
              <span class="key">{{ .Value }}</span>
              <span class="value">{{ .Count }}</span>
            </div>
          {{ end }}
        </div>
        <div class="meta-item-list">
          <h3 class="category">Books by status</h3>
          {{range .Stats.BooksByStatus }}
            <div class="entry">
              <span class="key">{{ .Value }}</span>
              <span class="value">{{ .Count }}</span>
            </div>
          {{ end }}
        </div>
      </div>
    </aside>
  </div>
{{ end }}