{{ define "book" }}
  <article class="book-card">
    {{ if .Rank }}
      <span class="rank">{{ .Rank }}</span>
    {{ end }}
    {{ if .Cover }}
      <img src="{{ .Cover }}" alt="Cover of: {{ .Title }}">
    {{ else }}
      <div class="cover-placeholder">
        {{ if .Title }}<span class="title">{{ .Title }}</span>{{ end }}
        {{ if .Subtitle }}<span class="subtitle">{{ .Subtitle }}</span>{{ end }}
      </div>
    {{ end}}
    <div class="book-details">
      <div class="book-info">
        {{ if .Title }}<h3 class="title">{{ .Title }}</h3>{{ end }}
        {{ if .Subtitle }}<p class="subtitle">{{ .Subtitle }}</p>{{ end }}
        {{ if .Isbn }}<p class="isbn">ISBN: {{ .Isbn }}</p>{{ end }}
        <div class="authors">
          <ul>
            {{ range .Authors }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
        <div class="meta">
          <ul>
            {{ if .Year }}<li>{{ .Year }}</li>{{ end }}
            {{ if .Pages }}<li>{{ .Pages }} pages</li>{{ end }}
            {{ if .Rating }}<li>★ {{printf "%.1f" .Rating }}</li>{{ end }}
          </ul>
        </div>
      </div>
      {{ if or .Progress.DateStarted .Progress.DateFinished }}
        <div class="book-progress">
          {{ if and .Progress.DateStarted .Progress.DateFinished }}
            <span class="muted">Started:</span> {{ .Progress.DateStarted }}
            <span class="muted">Finished:</span> {{ .Progress.DateFinished }}
          {{ else if and .Progress.DateStarted (not .Progress.DateFinished) }}
            <span class="muted">Started:</span> {{ .Progress.DateStarted }}
            <span class="muted">Progress:</span> {{ .Progress.PagesRead }}/{{ .Pages }}
          {{ end }}
        </div>
      {{ end }}
      {{ if .Link }}
        <div class="book-actions">
          <a class="book-btn cta" href="{{ .Link }}" target="_blank">Link</a>
        </div>
      {{ end }}
    </div>
  </article>
{{ end }}